/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url('../fonts/fira-sans-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/fira-sans-v6-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('../fonts/fira-sans-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/fira-sans-v6-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-700 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('../fonts/fira-sans-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/fira-sans-v6-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-v8-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/pt-sans-v8-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-v8-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/pt-sans-v8-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.btn {
  padding: 13px 31px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff7435;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Fira Sans', Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 18px;
  border-radius: 18px;
}
.btn--icon-calendar {
  padding: 13px 20px;
}
.btn--icon-calendar::before {
  background-image: url() no-repeat;
  background-position: 19px 10px;
}
.btn--icon-calendar:hover {
  background-color: #e85715;
}
.btn--bordered {
  background-color: #0ab89d;
  border: 2px solid white;
}
.btn--bordered:hover {
  background-color: #fff;
  color: #0ab89d;
}
.btn--large {
  width: 100%;
  padding: 20px 0;
  background-color: #0ab89d;
}
.btn--large:hover {
  background-color: #079b84;
}
.page-header {
  padding: 17px 0 21px;
  text-align: center;
  position: relative;
}
.page-header__contacts {
  display: none;
}
.logo {
  width: 143px;
  height: 49px;
}
.main-nav__list {
  padding-left: 0;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  list-style: none;
  border-top: 2px solid #ebebeb;
}
.main-nav__item {
  padding: 10px;
}
.main-nav__link {
  padding-left: 0;
  padding-right: 0;
  display: block;
  line-height: 72px;
  color: #191919;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.main-nav__link--active {
  color: #ff7435;
}
.promo-title {
  text-align: center;
  color: #000000;
  font-family: 'PT Serif', 'Times New Roman', sans-serif;
  margin: 0 auto;
  letter-spacing: 0.05em;
}
.promo-title--white {
  color: #ffffff;
}
.block-text {
  color: #000000;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.block-text--lighter {
  color: #191919;
}
.block-text--small-line-height {
  line-height: 20px;
}
.rest-tabs__switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.rest-tabs__top-item {
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 154px;
  background-repeat: no-repeat;
  background-size: cover;
}
.rest-tabs__top-item-inner {
  text-align: center;
  opacity: 0.9;
}
.rest-tabs__top-descr {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.015em;
  line-height: 24px;
}
.rest-tabs__bottom-item-inner {
  padding-left: 20px;
  padding-right: 20px;
}
.rest-tabs__bottom-title {
  margin-bottom: 40px;
}
.rest-tabs__bottom-list {
  list-style: none;
  text-align: center;
}
.gallery__main-img {
  width: 100%;
}
.block-title {
  font-family: 'PT Serif', 'Times New Roman', sans-serif;
  color: #000000;
  font-size: 30px;
}
.block-title--white {
  color: #ffffff;
}
.block-title--lighter {
  color: #191919;
}
.reviews {
  background-image: url();
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  padding-bottom: 40px;
  text-align: center;
}
.reviews__slide {
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 38px;
  padding-bottom: 30px;
}
.reviews__date {
  font-size: 14px;
  letter-spacing: 0.05em;
}
.reviews__author {
  position: relative;
}
.reviews__userpic {
  position: absolute;
  top: -25px;
  border: 1px solid white;
}
.reviews__social-link {
  display: inline-block;
  width: 30px;
  height: 25px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}
.reviews__social-link--vk {
  background-image: url();
}
.reviews__social-link--fb {
  background-image: url();
}
.reviews__social-link--fb {
  background-image: url();
}
.offers__item {
  padding-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.offers__item-descr {
  opacity: 0.95;
  padding-left: 20px;
  padding-bottom: 16px;
}
.offers__item-descr-title {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ff7435;
  letter-spacing: 0.015em;
  font-weight: 500;
}
.location__map {
  margin-top: 40px;
  min-height: 400px;
  margin-bottom: 40px;
}
.transport__item {
  text-align: center;
}
.transport__name {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.015em;
}
.transport__list {
  list-style: none;
  text-align: center;
}
.accommodation {
  padding: 51px 0;
  text-align: center;
  background-image: url(../img/housing--bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: left top;
}
.accomodation-place {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.accomodation-place__image {
  width: 100%;
  height: auto;
}
.accomodation-place__descr {
  text-align: center;
  padding-top: 40px;
  letter-spacing: 0.015em;
}
.item-title {
  color: #191919;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 26px;
  line-height: 19px;
  letter-spacing: 0.015em;
}
.room-price {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #191919;
  font-size: 14px;
}
.room-price__number {
  color: #ff7435;
  font-size: 18px;
}
.page-footer {
  padding: 25px 0 24px;
  text-align: center;
  border-top: 1px solid #ebebeb;
}
.page-footer__address {
  font-size: 14px;
}
.page-footer__social-item {
  display: inline-block;
}
.page-footer__link {
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}
.form__header-inner {
  text-align: center;
}
.form__text-phone {
  font-weight: 500;
  color: #ff7435;
}
.form__step--bg-lightgrey {
  background-color: #f1f1f1;
}
.form__step-inner {
  padding-bottom: 53px;
}
.form__step-number-title {
  color: #929292;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
.accommodation-choice {
  position: relative;
}
.cottages-type__title {
  color: #979696;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
.cottages-type__descr {
  position: absolute;
  left: 0;
  border: 1px solid #ebebeb;
  background-color: #fff;
}
.cottages-type__descr-list {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.cottages-type__descr-list-item {
  vertical-align: top;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: 300;
  color: #191919;
  text-transform: uppercase;
  font-weight: 500;
}
.personal-info {
  margin: 0 auto;
}
.field-text {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.field-text__input {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  outline: none;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #979696;
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid #ebebeb;
}
.field-text__descr {
  color: #4c4c4c;
  font-family: #4c4c4c;
  font-size: 14px;
  line-height: 18px;
}
.payment-form__arrival {
  background-color: #fff;
  border: 1px solid #ebebeb;
  text-align: left;
}
.payment-form__block-title {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: 500;
}
.payment-form__now-arrival {
  background-color: #fff;
  border: 1px solid #ebebeb;
  text-align: left;
}
.payment-form__bill-block {
  width: 100%;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ebebeb;
}
.payment-form__btn {
  max-width: 780px;
  margin: 0 auto;
}
